@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'), url('../resources/fonts/Roboto-light-ext.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		url('../resources/fonts/Roboto-light.woff2') format('woff2'),
		url('../resources/fonts/Roboto-light.ttf') format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('../resources/fonts/Roboto-regular-ext.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('../resources/fonts/Roboto-regular.woff2') format('woff2'),
		url('../resources/fonts/Roboto-regular.ttf') format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		url('../resources/fonts/Roboto-medium-ext.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		url('../resources/fonts/Roboto-medium.woff2') format('woff2'),
		url('../resources/fonts/Roboto-medium.ttf') format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../resources/fonts/fonts/icomoon.eot?iccfrj');
  src:  url('../resources/fonts/fonts/icomoon.eot?iccfrj#iefix') format('embedded-opentype'),
    url('../resources/fonts/fonts/icomoon.ttf?iccfrj') format('truetype'),
    url('../resources/fonts/fonts/icomoon.woff?iccfrj') format('woff'),
    url('../resources/fonts/fonts/icomoon.svg?iccfrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('../resources/fonts/dejavu/dejavusanscondensed-webfont.woff2') format('woff2'),
         url('../resources/fonts/dejavu/dejavusanscondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pulse:before {
  content: "\e900";
}
.icon-demo:before {
  content: "\e901";
}
.icon-multiple-camera:before {
  content: "\e902";
}
.icon-side-by-side:before {
  content: "\e903";
}
