mobile()
  @media (max-width: 768px)
		{block}

tablet()
  @media (min-width: 768px) and (max-width: 1024px)
		{block}

desktop()
	@media (min-width:1024px) and (max-width:1980px) and (min-height: 1080px)
		{block}

large()
	@media (min-width: 1980px) and (min-height: 2160px)
		{block}
